In [23]:
import numpy as np
import pandas as pd
import re

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, ConfusionMatrixDisplay, classification_report, roc_curve


from matplotlib import pyplot as plt
%matplotlib inline

In [11]:
# Nap chaje done yo
df = pd.read_csv('data/train.csv')
print(f"Dimansyon dataset lan se:{df.shape}")
df.head()

Dimansyon dataset lan se:(20800, 5)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [12]:
# Ann pakouri dataset lan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [13]:
# Nap eksplore
df.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

# Preteman Done yo

In [ ]:
# Nap ranplase done ki nil yo pa yon espas
df.fillna('',inplace=True)

In [ ]:
# Nap kole non ote ak tit yo
df['content'] = df['title'] + '' + df['author']
df.head()

,id,title,author,text,label,content
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You FiredConsortiumnew...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Iranian woman jailed for fictional unpublished...

#

In [18]:
port_stem = PorterStemmer()

In [19]:
def redwi(content):
    #
    stemmed_content= re.sub('[^a-zA-Z]',' ',content)
    #
    stemmed_content = stemmed_content.lower() 
    # 
    stemmed_content = stemmed_content.split()
    #
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    #
    stemmed_content = " ".join(stemmed_content)
    return stemmed_content

In [ ]:
"""def stemming(content):
    #replace any non-alphabetic characters in the content variable with a space character
    stemmed_content= re.sub('[^a-zA-Z]',' ',content)
    #Convert all words into lower case letters
    stemmed_content = stemmed_content.lower() 
    # Split the words into list
    stemmed_content = stemmed_content.split()
    #generate a list of stemmed words from stemmed_content, excluding any stop words from the list
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    #Join the elements from the list 'stemmed_content' into a single string separated by spaces
    stemmed_content = " ".join(stemmed_content)
    return stemmed_content"""

In [20]:
df['content'] = df['content'].apply(redwi)
df['content'].head()

0    hous dem aid even see comey letter jason chaff...
1    flynn hillari clinton big woman campu breitbar...
2               truth might get firedconsortiumnew com
3    civilian kill singl us airstrik identifiedjess...
4    iranian woman jail fiction unpublish stori wom...
Name: content, dtype: object

#

In [24]:
transformer = TfidfTransformer(smooth_idf=False)
count_vectoriser = CountVectorizer(ngram_range=(1,2))
counts = count_vectoriser.fit_transform(df['content'].values)
tfidf = transformer.fit_transform(counts)

In [26]:
# Nap fe paret label yo
label = df['label'].values

In [28]:
# Nap gade dimansyon label ak res done nou yo
print(f'dimansyon taget:{label.shape}')
print(f'dimansyon X:{tfidf.shape}')

dimansyon taget:(20800,)
dimansyon X:(20800, 140701)